h1{
    color: white;
}
.true_body{
    padding: 0px 20px 0px 20px;
    color: white;
    background-color: #005595;
}
#output-frame{
    position: absolute;
    top: 230px;
    left: 950px;
    min-height: 1000px;
    min-width: 900px;
    max-width: 1500px;
    margin-right: 10px;
}
.underlined{
    text-decoration: underline;
}
.breakerw{
    margin: 0px 0px 0px 0px;
    border-color: #005595;
    background-color: #005595;
    height: 5px;
}
#top-left{
    float: left;
    width: 500px;
    margin: 0px 0px 20px 0px
}
#top-right{
    float: left;
    width: 500px;
}

#white{
    color: white;
    text-decoration: underline;
}
#external-output{
    position: absolute;
    left: 955px;
    top: 175px;
}
input[type=submit]{
    width: 8em;
    height: 2.5em;
    font-size: 100%
}
