<!DOCTYPE html>
<html>
    <head>
        <link type="text/css" rel="stylesheet" 
            href="{{ url_for('static', filename='base.css') }}"> 
        {% block extrastyles %}{% endblock %}
        {% if title %}
        <title>{{ title }} - Diodes Sim Engine</title>
        {% else %}
        <title>Welcome to Diodes Sim Engine!</title>
        {% endif %}
    </head>
    <body>
        <div class="header">            
            <p>
                <a href="{{ url_for('index')}}">
                    <img src="{{url_for('static', filename='images/diodes.png')}}" 
                        alt="Diodes Incorporated">
                </a>
            </p>
            <div class="header">
                <span class="left">
                    <a href="{{ url_for('index') }}">Sim Engine</a>
                </span>
                <span class="right">
                    {% if current_user.is_anonymous %}
                    <a href="{{ url_for('login') }}">Login</a>
                    {% else %}
                    <a href="{{ url_for('designs') }}">My Designs</a>
                    <a href="{{ url_for('logout') }}">Logout</a>
                    {% endif %}
                </span>
            </div>
        </div>
        <div class="breaker"></div>
        <div class="true_body">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
            <p>
                {% block content %}{% endblock %}
            </p>
        </div>
    </body>
<html>  
