.true_body{
    padding: 0px 20px 0px 20px;
    color: white;
    background-color: #005595;
}
#whitelink{
    color: white; !important
    text-decoration: underline; !important
    font-weight: bold !important
}
