<!DOCTYPE html>

<html>
    <head>
        <link type="text/css" rel="stylesheet"
            href="{{ url_for('static', filename='_output_base.css') }}">
        {% block extrastyles %}{% endblock %}
    </head>
    <body>
        <div class="header">
            <a href="{{ url_for('_power_loss') }}">Power Loss</a>
            <a href="{{ url_for('_efficiency_summary') }}">Efficiency Summary</a>
            <a href="{{ url_for('_compensation') }}">Compensation</a>
        </div>
        <div class="breaker"></div>
        <div class="true-body">
        {% block content %}{% endblock %}
        </div>
    </body>
</html>
